<!DOCTYPE html>
<html>
<head>
    <title>bookMENDme</title>
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS to center form -->
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">bookMENDme</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
    </ul>
  </div>
</nav>
    <form method="POST" class="text-center">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", size=20) }}
        </div>
        <div class="form.group">
            {{ form.phone.label }}<br>
            {{ form.phone(class="form-control", size=20) }}
        </div>
        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", size=20) }}
        </div>
        <div class="form-group">
    {{ form.favorite_book.label }}<br>
    {{ form.favorite_book(class="form-control", size=20) }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% for book in recommendations %}
  <p>Title: {{ book.title }}</p>
  <p>Amazon link: <a href="{{ book.amazon_link }}">{{ book.amazon_link }}</a></p>
{% endfor %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
